:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

/* HTML styles for the splash screen */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#avalonia-splash {
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    background: black;
    justify-content: center;
    align-items: center;
}

.splash-close {
    animation: fadeout 0.25s linear forwards;
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
        visibility: collapse;
    }
}
